* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  position: absolute;
  min-width: $min-width-px;
  min-height: $min-height-px;
  height: 100%;
  width: 100%;
}

body {
  font-family: $primary-font-family;
}

a {
  color: black;

  &:hover {
    letter-spacing: 1px;
  }
}

h1 {
  margin: 10px 0;
  padding: 5px 10px;
  display: inline-block;
  font-size: 1.6em;
  line-height: 1.5;
}

h3 {
  margin: 10px 0;
  padding: 4px 8px;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
}
