// Contains modified classes from https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css

.mapboxgl-popup {
  max-width: $popup-max-width-px;
}

.mapboxgl-popup-content {
  padding: 0;
  margin: 0;
  background: transparent;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: $popup-achor-background-color;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: $popup-achor-background-color;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: $popup-achor-background-color;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: $popup-achor-background-color;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: $popup-achor-background-color;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: $popup-achor-background-color;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: $popup-achor-background-color;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: $popup-achor-background-color;
}
