#lizshigetoshi {
  position: absolute;
  background-color: $logo-background-color;
  text-transform: uppercase;
  top: 0;
  right: 0;
  z-index: 1;
}

.mapNavigation {
  color: $button-font-color;
  background-color: $button-background-color;
  opacity: $primary-opacity-high;
  position: absolute;
  right: 0;
  z-index: 1;
  font-weight: $primary-font-weight-light;

  &:hover {
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: $primary-font-weight-medium;
    color: $button-hover-font-color;
  }
}

#homeNavigationButton {
  top: 60px;
}

#almaMaterNavigationButton {
  top: 100px;
}

#pastExpNavigationButton {
  top: 140px;
}

#currentExpNavigationButton {
  top: 180px;
}

#travelNavigationButton {
  top: 220px;
}
