@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css");
@import url("https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700");

// Colors
$theme-black:           #21282d;
$theme-yellow-dark:     #ffcd22;
$theme-blue-dark:       #678cb1;
$theme-grey:            #aaaaaa;
$theme-white:           #ffffff;
$theme-black:           #3d3d3d;
// http://teamcolorcodes.com/sacramento-kings-color-codes/
$sacramento-black:      #000000;
$sacramento-white:      #ffffff;
$sacramento-grey:       #8e9090;
$sacramento-purple:     #724c9f;
// http://marketingtoolbox.ucdavis.edu/visual-identity/color.html
$davis-blue:            #002855;
$davis-yellow:          #eaaa00;

// Globals
$button-background-color: $theme-black;
$button-font-color: $theme-white;
$button-hover-font-color: $theme-yellow-dark;
$link-font-color: $theme-black;
$logo-background-color: $theme-yellow-dark;
$marker-background-color: $theme-yellow-dark;
$marker-diameter: 30px;
$marker-disable-background-color: $theme-blue-dark;
$min-height-px: 530px;
$min-width-px: 330px;
$popup-achor-background-color: $theme-black;
$popup-background-color: $theme-yellow-dark;
$popup-font-color: $theme-black;
$popup-max-width-px: 200px;
$primary-font-family: 'Roboto Mono', monospace;
$primary-font-weight-light: 300;
$primary-font-weight-medium: 500;
$primary-opacity-high: 0.85;
$primary-opacity-low: 0.5;
$primary-opacity-medium: 0.7;

@import 'base','modify','navigation','map';
