@tailwind base;
@tailwind components;
@tailwind utilities;

/* Overwrite Mapbox classes */
.mapboxgl-popup-content {
  margin: 0 !important;
  padding: 5px 10px !important;
  background: rgb(255 255 255 / 70%) !important;
  border-radius: 4px !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: rgb(255 255 255 / 70%) !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: rgb(255 255 255 / 70%) !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgb(255 255 255 / 70%) !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgb(255 255 255 / 70%) !important;
}
